#root {
  max-width: 1280px;
  flex: auto;
}

#container {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

#nav {
  background-color: #f0f8ff; /* color claro, puedes ajustarlo */
  border-radius: 20px;
  padding: 10px;
  margin: 0 auto;
  max-width: 600px; /* Ajusta según tus necesidades */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* sombra ligera para dar efecto 3D */
}

#links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around; /* Distribuye los elementos de manera uniforme */
}

.link {
  padding: 10px 20px;
}

.link a {
  text-decoration: none;
  color: #333; /* Color del texto, ajusta según tus preferencias */
  font-weight: bold;
}

h3 {
  text-align: center;
  color: #7d93ff; /* Color del texto */
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 600px; /* Ajusta el ancho máximo según tus necesidades */
}

.forecastList {
  background-color: #f9f9f9; /* Fondo claro */
  border: 1px solid #ddd; /* Bordes sutiles */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forecastList img {
  width: 60px;
}

.forecastList h4 {
  margin: 0;
  color: #333;
}

.forecastList p {
  margin: 0;
  color: #666;
}

.currentWeatherContainer{
  background-color: #04032729;
  border-radius: 10px;
}
.current-weather {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 0 auto;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.current-weather p {
  margin: 10px 0;
  font-size: 1.1em;
  color: #666;
}

.imgContainer{
  background-color: #f9f9f9;
  display: math;
  max-width: 100px;
  max-height: 100px;
  border: 1px solid #ddd;
  border-radius: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.imgContainer img {
  width: 100px; /* Ajusta según tus necesidades */
}

.localWeatherContainer{
  padding-top: 8rem;
}